header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 130px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    /* DEIXAR O HOME , PRODUTO , CONTATO MAIUSCULO*/
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    /* NENHUMA DECORAÇÃO NO TEXTO!*/
}

nav a:hover {
    color: #C77877;
    text-decoration: underline;
/*QUANDO EU QUERO DECORAR O PASSAR DO MOUSE*/
}

.produtos {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #CCCCCC;*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/
    border: 2px solid #000000;
    border-radius: 15px;
}

/*AO PASSAR O MOUSE NOS PRODUTOS!*/
.produtos li:hover {
    border-color: #C77877;
    
}

.produtos li:active {
    border-color: rgb(17, 0, 255);
}

.produtos li:hover h2 {
    font-size: 40px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

/*RODAPÉ*/

footer {
    text-align: center;
    background: #CCCCCC;
    /*QUANDO EU QUERO COLOCAR UM FUNDO COM COR COLOCO BACKGROUND + COR*/
    background: url("bg.jpg");
    /*QUANDO EU QUERO COLOCAR UMA IMAGEM AO INVES DE COR COLOCO URL*/
    padding: 40px 0;
}

/*MARCADOR PARA O TEXTO (NESSE CASO O COPYRIGHT!)*/

.copyright {
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;

}